@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-design {
  background: linear-gradient(
    180deg,
    #eb6b9d 0%,
    rgba(255, 87, 87, 0.7) 138.64%
  );
}

.searchIcon {
  background: linear-gradient(
    119.78deg,
    #ff5757 14.24%,
    rgba(255, 87, 87, 0) 134.54%
  );
}
.newBookingBg {
  background: linear-gradient(178.41deg, #fb8085 1.35%, #ff5757 139.03%);
}

.tableHead {
  border-radius: 10px 10px 0px 0px;
  background: rgba(217, 217, 217, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.designForTads {
  flex-shrink: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
